<br>
<h1>Новый журнал:</h1><!--New journal-->
<br />
<p>Название предмета:</p><!--Lesson Name:-->
<input type="text" [(ngModel)]="createJournalViewModel.LessonName" name="LessonName" />
<br />
<p>Введите количество студентов:</p><!--Input count students:-->
<input type="text" [(ngModel)]="createJournalViewModel.StudentsCount" name="StudentsCount" />
<br />
<p>Введите количество видов работ:</p><!--Input count lab blocks:-->
<input type="text" [(ngModel)]="createJournalViewModel.LabBlocksCount" name="LabBlocksCount" />
<br />
<p>Выберите ассистентов которые будут иметь доступ к журналу:</p><!--Input count lab blocks:-->
<ul style="width: 300px; height: 200px; overflow: auto">
  <li *ngFor=" let assistant of assistantList"><input type="checkbox" (click)="addAssistant($event,assistant.Id)"> {{assistant.Login}}</li>
</ul>
  <button (click)="createJournal()">Создать журнал</button><!--Create journal-->
