<div class="row">
<br>
<br>

<select (change)="filterChange($event.target.value)">
    <option value="user">Логи пользователя</option>
    <option value="admin">Логи администрарота</option>
  </select>

  <div> <!--*ngIf="pulpitsViewModel!=null">-->
    <table class="table"> 
      <caption>Список логов</caption> 
      <thead> 
        <tr> 
          <th>#</th> 
          <th>Дата</th> 
          <th>Текст</th> 
         
        </tr> 
      </thead> 
      <tbody>
        <ng-container *ngFor=" let key of logsArr;let i=index"> 
          <tr> 
            <th scope="row">{{i}}</th> 
            <td colspan="2">{{key.Text}}</td> 
            
          </tr>
        </ng-container>

      </tbody> 
    </table>
 
  </div>
</div>
