<div class="row">
<br>
<br>


  <div class="form-inline">
    <div class="form-group">
      <label for="exampleInputName2">Название группы</label>
      <input type="text" class="form-control" [(ngModel)]="newGroup.Name">
    </div>
   
    <button type="submit" class="btn btn-default" (click)="addGroup()" >Добавить группу</button>
  </div>
<br>
<br>
  <div> <!--*ngIf="pulpitsViewModel!=null">-->
    <table class="table"> 
      <caption>Список групп</caption> 
      <thead> 
        <tr> 
          <th>#</th> 
          <th>Название</th> 
         
          <th></th> 
          <th></th> 
        </tr> 
      </thead> 
      <tbody>
        <ng-container *ngFor=" let key of groupsArray;let i=index"> 
          <tr> 
            <th scope="row">{{i}}</th> 
            <td><span>{{key.Name}}</span></td> 
            
            <td >
              <a [routerLink]="['/group']" [queryParams]="{ groupid: key.Id }">изменить</a>
            </td>
            <td ><input type="button" (click)="removeGroup(key)" value="удалить" /></td>
          </tr>
        </ng-container>

      </tbody> 
    </table>
 
  </div>
</div>
