<a *ngIf="!isNewJournal" (click)="isNewJournal=true">Create new journal</a>
<br>
<div *ngIf="isNewJournal">
  <h1>New journal</h1>
  <br />
  <p>Lesson Name:</p>
  <input type="text" [(ngModel)]="lessonName" name="LessonName" />
  <br />
  <p>Input count students:</p>
  <input type="text" [(ngModel)]="studentsCount" name="StudentsCount" />
  <br />
  <p>Input count lab blocks:</p>
  <input type="text" [(ngModel)]="labBlocksCount" name="LabBlocksCount" />
  <br />
  <button (click)="createJournal()">Create journal</button>
</div>
<div *ngIf="!isNewJournal" class="row">
  <!--<div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)" />
  </div>-->
  <div *ngIf="!isNewJournal && journalViewModel!=null">
    <table>
      <thead>
        <tr>
          <td></td>
          <td style="text-align:center; vertical-align:middle;" colspan="4" *ngFor=" let key of journalViewModel.KindsOfWorkForJournal">
            <input (keyup.enter)="changeKindOfWorkName(key)" [(ngModel)]="key.NameKindOfWork" />
          </td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <ng-container *ngFor=" let key1 of countBlocks">
          <td>FirstDate</td>
          <td>FirstMark</td>
          <td>SecondDate</td>
          <td>SecondMark</td>
        </ng-container>
      </tr>
      <ng-container *ngFor=" let key2 of journalViewModel.StudentResultForJournal;let i = index">
        <tr>
            <td><input (keyup.enter)="changeUserName(journalViewModel.StudentResultForJournal[i].StudentInfo)" [(ngModel)]="journalViewModel.StudentResultForJournal[i].StudentInfo.StudentName" /></td>
            <ng-container *ngFor=" let key of journalViewModel.StudentResultForJournal[i].StudentLabBlocks">
              <td><input [(ngModel)]="key.FirstDate" /></td>
              <td><input [(ngModel)]="key.FirstMark" /></td>
              <td><input [(ngModel)]="key.SecondDate" /></td>
              <td><input [(ngModel)]="key.SecondMark" /></td>
            </ng-container>          
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
<!--<br>-->
<!--<ng-table *ngIf="!isNewJournal" [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          (scrolledDown)="onScrollDown()"
          (expanderClicked)="expanderClicked($event)"
          (valueEdit)="editRow($event)"
          [rows]="rows" [columns]="columns"
          [expandable]="true"
          [expandedComponent]="rowComponent"
          [rowInputs]="rowInputs">
</ng-table>-->
