<!--<a *ngIf="!isNewJournal" (click)="isNewJournal=true">Создать новый журнал (+)</a>--><!--Create new journal-->

<div class="row">
  <div *ngIf="journalViewModel!=null">
    <table>
      <thead>
        <tr>
          <td></td>
          <td style="text-align:center; vertical-align:middle;" colspan="4" *ngFor=" let key of journalViewModel.KindsOfWorkForJournal">
            <input (keyup.enter)="changeKindOfWorkName(key)" [(ngModel)]="key.NameKindOfWork" />
          </td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <ng-container *ngFor=" let key1 of countBlocks">
          <td>Дата сдаче</td><!--FirstDate-->
          <td>Оценка при первой сдаче</td><!--FirstMark-->
          <td>Дата пересдачи</td><!--SecondDate-->
          <td>Оценка при пересдаче</td><!--SecondMark-->
        </ng-container>
      </tr>
      <ng-container *ngFor=" let key2 of journalViewModel.StudentResultForJournal;let i = index">
        <tr>
            <td><input (keyup.enter)="changeUserName(journalViewModel.StudentResultForJournal[i].StudentInfo)" [(ngModel)]="journalViewModel.StudentResultForJournal[i].StudentInfo.StudentName" /></td>
            <ng-container *ngFor=" let key of journalViewModel.StudentResultForJournal[i].StudentLabBlocks">
              <td><input (keyup.enter)="changeLabBlock(key)" [(ngModel)]="key.FirstDate" /></td>
              <td><input (keyup.enter)="changeLabBlock(key)" [(ngModel)]="key.FirstMark" /></td>
              <td><input (keyup.enter)="changeLabBlock(key)" [(ngModel)]="key.SecondDate" /></td>
              <td><input (keyup.enter)="changeLabBlock(key)" [(ngModel)]="key.SecondMark" /></td>
            </ng-container>          
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
